.logo-container {
    display: flex;
    justify-content: center;
}

.header-container {
    color: white;
    background-color: tan;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-around;
}

.home-image {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1px;
    text-align: center;
    height: contain;
    display: flex;
    align-items: center;
}
img {
    margin: auto;
    width: 100%;
    max-width: contain;
    max-height:100%
}
